<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}
    {{ include('@GbenitezAttribute/header.html.twig') }}
    {% block main_content %}
        <div class="container {% block container_class %}margin-bottom-25 margin-top-35{% endblock %}">

            {% block page_content %}
                <div class="pull-right">
                    {% block page_header_right %}{% endblock %}
                    {% block page_actions %}{% endblock %}
                </div>

                {{ include('@GbenitezAttribute/flashes.html.twig') }}

                {% block content %}{% endblock %}
            {% endblock page_content %}

        </div>
    {% endblock %}
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
</body>
</html>
